SERVICE_NAME=recommendation-service
HTTP_PORT=3000
KAFKA_BROKERS=kafka:9092
KAFKA_CLIENT_ID=recommendation-service
KAFKA_CONSUMER_GROUP_ID=recommendation-service-demo-group
DEMO_TOPIC=recommendation.demo.event.v1
CASSANDRA_CONTACT_POINTS=recommendation-cassandra:9042
CASSANDRA_LOCAL_DATACENTER=datacenter1
CASSANDRA_KEYSPACE=recommendation
JWT_ACCESS_SECRET=dev-auth-access-secret
